</div><!-- /.container -->



    <a class="text-center fixed-bottom mb-5" href="/">   <img src="/images/logo.svg" alt="logo"> E-Commerce </a>
    <div class="bg-secondary fixed-bottom" style="width: 100%; height: 30px;"></div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>