<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/adminstyle.css">
  



    <title> Admin Area</title>

</head>

<body>

    <!--* NAVBAR *-->
    <nav id="nav" class="navbar navbar-expand-md navbar-light bg-dark">
        <a class="navbar-brand" href="/"> <span class="text-white "> CmsShoppingCart </span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-toggler-focus"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li id="projekt">
                    <a href="/admin/pages" class="nav-link text-white font-weight-0 "> Pages </a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="container">
        <%- messages('messages', locals) %>