<%- include('_layouts/header'); %>

<h1 class="display-1 text-center"> Page under Construction!</h1>
<a href="/admin/categories">
<img style="display: block; margin-left: auto;
    margin-right: auto;
    width: 80%;" src="/images/aufbau.jpg">}
</a>
<%- include('_layouts/footer'); %>